sudo: required
services:
  - docker

#before_install:
#  - docker build -t ruhsu/client-test -f ./order-app-client .
#  - docker build -t ruhsu/order-app -f .

# script:
#   - docker run ruhsu/client-test npm test -- --coverage

after_success:
  - docker build -t ruhsu/client ./order-app-client
  - docker build -t ruhsu/server ./order-app-server
  # Take those images and push them to docker hub